
<div class="card mb-3" *ngFor="let prod of service.list" style="max-width: 440px;"> 
    <div class="row no-gutters" >
      <div class="col-md-4">
        <img src={{prod.photoLink}} class="card-img" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{prod.productName}}</h5>
          <p class="card-text"></p>{{prod.description}}
          <p class="card-text">Price: ${{prod.productPrice}}</p>
          <button type="button" (click)= "addCart(prod)" class="btn btn-primary">Add to Cart</button>
          <button type = "button" (click)= "removeCart(prod)" class="btn btn-danger">Remove</button>
        </div>
        </div>
    </div>
  </div>